@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700');

body{
  background-color: #ce1379;
    background-image: url('../images/bg-tuner-2@2x.png');
    background-size: cover;
}

.tuner_logo{
  background-image: url('../images/tuner_logo@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 141px;
  height: 29px;
  margin: 138px auto auto auto;
  z-index: 3;
}

.main_graphic_element{
  background-image: url('../images/clouds_element.png');
  background-size: cover;
  width: 100%;
  height: 256px;
  opacity: 0.7;
  position: fixed;
  z-index: 2 !important;
  bottom: 0;
}

.main-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin-top: 32px;
  z-index: 4;
}

.main-purple-button{
  width: 100%;
  height: 50px;
  background-color: #350068;
  border-radius: 26px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 14px;
  letter-spacing: 0.5px;
  margin-top: 160px;
  z-index: 100 !important;
  position: relative;
}
.main-purple-button a{
  color: #ffffff;
}

.main-white-button{
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 26px;
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
  text-align: center;
  padding-top: 14px;
  letter-spacing: 0.5px;
  margin-top: 16px;
  z-index: 101 !important;
  position: relative;
}
.main-white-button a{
  color: #350068;
}
